ELF_Trial1/Service References/web_ws/elf_web_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="elf_web_ws" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.hijazboutique.com/elf_web_ws.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.hijazboutique.com/elf_web_ws.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ielf_web_ws_CheckParentLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckParentLogin" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_CheckParentLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckParentLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetTestReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestReport" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetTestReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestReportResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetLessionWiseReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessionWiseReport" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetLessionWiseReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessionWiseReportResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_StudentRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentRegistration" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_StudentRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_ParentRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:ParentRegistration" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_ParentRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParentRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_StaffRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffRegistration" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_StaffRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetCommonData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonData" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetCommonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonDataResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClasses" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassesResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrict" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetInstitutions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutions" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetInstitutions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionsResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_CheckStudentLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStudentLogin" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_CheckStudentLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStudentLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_CheckStaffLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStaffLogin" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_CheckStaffLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStaffLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetStudentDashboard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentDashboard" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetStudentDashboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentDashboardResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_SaveUserFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserFeedback" />
  </wsdl:message>
  <wsdl:message name="Ielf_web_ws_SaveUserFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="Ielf_web_ws">
    <wsdl:operation name="CheckParentLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/CheckParentLogin" message="tns:Ielf_web_ws_CheckParentLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/CheckParentLoginResponse" message="tns:Ielf_web_ws_CheckParentLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetSubjects" message="tns:Ielf_web_ws_GetSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetSubjectsResponse" message="tns:Ielf_web_ws_GetSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestReport">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetTestReport" message="tns:Ielf_web_ws_GetTestReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetTestReportResponse" message="tns:Ielf_web_ws_GetTestReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessionWiseReport">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetLessionWiseReport" message="tns:Ielf_web_ws_GetLessionWiseReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetLessionWiseReportResponse" message="tns:Ielf_web_ws_GetLessionWiseReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/StudentRegistration" message="tns:Ielf_web_ws_StudentRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/StudentRegistrationResponse" message="tns:Ielf_web_ws_StudentRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParentRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/ParentRegistration" message="tns:Ielf_web_ws_ParentRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/ParentRegistrationResponse" message="tns:Ielf_web_ws_ParentRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/StaffRegistration" message="tns:Ielf_web_ws_StaffRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/StaffRegistrationResponse" message="tns:Ielf_web_ws_StaffRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonData">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetCommonData" message="tns:Ielf_web_ws_GetCommonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetCommonDataResponse" message="tns:Ielf_web_ws_GetCommonData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetClasses" message="tns:Ielf_web_ws_GetClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetClassesResponse" message="tns:Ielf_web_ws_GetClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrict">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetDistrict" message="tns:Ielf_web_ws_GetDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetDistrictResponse" message="tns:Ielf_web_ws_GetDistrict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetCities" message="tns:Ielf_web_ws_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetCitiesResponse" message="tns:Ielf_web_ws_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstitutions">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetInstitutions" message="tns:Ielf_web_ws_GetInstitutions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetInstitutionsResponse" message="tns:Ielf_web_ws_GetInstitutions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStudentLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/CheckStudentLogin" message="tns:Ielf_web_ws_CheckStudentLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/CheckStudentLoginResponse" message="tns:Ielf_web_ws_CheckStudentLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStaffLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/CheckStaffLogin" message="tns:Ielf_web_ws_CheckStaffLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/CheckStaffLoginResponse" message="tns:Ielf_web_ws_CheckStaffLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDashboard">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetStudentDashboard" message="tns:Ielf_web_ws_GetStudentDashboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetStudentDashboardResponse" message="tns:Ielf_web_ws_GetStudentDashboard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/GetQuestions" message="tns:Ielf_web_ws_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/GetQuestionsResponse" message="tns:Ielf_web_ws_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/Ielf_web_ws/SaveUserFeedback" message="tns:Ielf_web_ws_SaveUserFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ielf_web_ws/SaveUserFeedbackResponse" message="tns:Ielf_web_ws_SaveUserFeedback_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Ielf_web_ws" type="tns:Ielf_web_ws">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckParentLogin">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/CheckParentLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestReport">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetTestReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessionWiseReport">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetLessionWiseReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentRegistration">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/StudentRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParentRegistration">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/ParentRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffRegistration">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/StaffRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonData">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetCommonData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrict">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstitutions">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetInstitutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStudentLogin">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/CheckStudentLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStaffLogin">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/CheckStaffLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDashboard">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetStudentDashboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/GetQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserFeedback">
      <soap:operation soapAction="http://tempuri.org/Ielf_web_ws/SaveUserFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="elf_web_ws">
    <wsdl:port name="BasicHttpBinding_Ielf_web_ws" binding="tns:BasicHttpBinding_Ielf_web_ws">
      <soap:address location="http://www.hijazboutique.com/elf_web_ws.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>