ELF_Trial1/Service References/web_ws/elf_web_ws31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/elf_ws.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/elf_ws.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Answers" nillable="true" type="tns:Answers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswers" nillable="true" type="tns:ArrayOfAnswers" />
  <xs:complexType name="Answers">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerSelected" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Answers" nillable="true" type="tns:Answers" />
</xs:schema>